<ion-header>
  <ion-toolbar>
    <ion-title>tracker</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <form id="trackerForm" [formGroup]="taskForm">
    <ion-list>
      <ion-list-header>
        Track a task
      </ion-list-header>
      <ion-item>
        <ion-input name="taskName" placeholder="Enter name of task" type="text" formControlName="name">
        </ion-input>
      </ion-item>
      <ion-item>
        <ion-label position="stacked">Category</ion-label>
        <ion-select placeholder="select a category" formControlName="category">
          <ion-select-option *ngFor="let category of categories" value="{{category.name}}">{{category.name}}</ion-select-option>
        </ion-select>
      </ion-item>
      <ion-button expand="full" color="tertiary" *ngIf="!started" (click)="start()" [disabled]="!taskForm.valid">Start</ion-button>
      <ion-button expand="full" color="secondary" *ngIf="started" (click)="stop()">Stop</ion-button>

      <ion-item *ngIf="started">
        {{time | timeformat }}
      </ion-item>
    </ion-list>
  </form>
</ion-content>
